@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Poppins-bold';
    font-weight: 700;
    src:
        local('Poppins-bold'),
        url('../../../fonts/Poppins-Bold.ttf') format("openType");
    font-display: swap;
}

.titleFont {
    font-family: "Poppins-bold";
}



html {
    font-size: 62.5%;
}


:root {
    --kText: 'Raleway', sans-serif;
    --kTitle: 'Poppins-bold', sans-serif;
}

.topBarTitle {
    font-family: var(--kTitle);
    font-size: clamp(2.4rem, 4vw + 0.1rem, 3rem);
    color: white;
}
.tabTitle {
    font-family: var(--kText);
    font-size: clamp(1.5rem, 0.9vw + 0.1rem, 2rem);
    color: white;
}

.kText {
    font-family: var(--kText);
    font-size: clamp(1.6rem, 2vw + 0.1rem, 1.8rem);
    line-height: 1.5;
    font-weight: 300;
    color: white;
}
.ktextFat {
    font-family: var(--kText);
    font-size: clamp(2.4rem, 4vw + 0.1rem, 3rem);
    line-height: 1.3;
}

.light {
    color: white;
}





.ag-book {
    font-family: 'avant-g-book';
}

.ag-medium {
    font-family: 'avant-g-medium';
}

.ag-bold {
    font-family: 'avant-garde-gothic-2-bold-1';
}



