
.appBox.blue {
    --frosty-font-color: #ffffff81;
    --frosty-surface-hove-bg-color: #455f7333;
    --frosty-surface-shadow-color: hsla(199, 100%, 59%, 0.493);
    --frosty-surface-inset-shadow-color: hsla(199, 100%, 59%, 0.329);
}
.appBox.black {
    --frosty-font-color: #ffffff81;
    --frosty-surface-hove-bg-color: #455f7333;
    --frosty-surface-shadow-color: hsla(0, 0%, 56%, 0.493);
    --frosty-surface-inset-shadow-color: hsla(0, 0%, 52%, 0.329);
}
.appBox.white {
    --frosty-font-color: #ffffff81;
    --frosty-surface-hove-bg-color: #455f7333;
    --frosty-surface-shadow-color: hsla(0, 0%, 100%, 0.493);
    --frosty-surface-inset-shadow-color: hsla(0, 0%, 100%, 0.329);
}
.frosty_surface {
    color: var(--frosty-font-color);
    fill: var(--frosty-font-color);
    /* border: 2px solid transparent; */
    transition: 150ms ease;
}
.frosty_base,
.frosty_border {
    outline: 2px solid var(--frosty-color);
    box-shadow:
        0 1px 3px 0 rgba(0, 32, 51, 0.473),
        inset 0 0px 5px 2px rgba(115, 204, 255, 0.068);
}

.frosty_surface.glow_on_hover:hover,
.frosty_surface.glow_always {
    outline: 2px solid var(--frosty-color);
    box-shadow:
        0 0 10px var(--frosty-surface-shadow-color),
        inset 0 0 10px var(--frosty-surface-inset-shadow-color);
}