html {
    overflow: hidden;
    background-color: #1d1d1d;   
    /* filter: grayscale(1) contrast(1.1) brightness(0.9); */
}

* {
    user-select: none;
}

:root {
    --gutter-thickness: 48px;
    --panel-width: 1200px;
}

@media (max-width: 500px) {
    :root {
        --gutter-thickness: 36px;
    }
}