

.left-enter-active,
.right-enter-active,
.fade-enter-active {
    transition: 500ms ease;
}

.left-leave-active,
.right-leave-active,
.fade-leave-active {
    transition: 500ms ease;
}

.left-enter-from,
.left-enter-to,
.right-enter-from,
.right-enter-to,
.fade-enter-from,
.fade-enter-to {
    opacity: 0;
}

.left-leave-from,
.left-leave-to,
.right-leave-from,
.right-leave-to,
.fade-leave-from,
.fade-leave-to {
    opacity: 0;
}



/* 
From left
*/

.left-enter-from {
    transform: translateX(-100%)
}

.left-enter-to {
    transform: translateX(0%)
}

/* 
From right
*/

.right-enter-from {
    transform: translateX(-100%)
}

.right-enter-to {
    transform: translateX(0%)
}

/* 
To left
*/

.left-leave-from {
    transform: translateX(0%)
}

.left-leave-to {
    transform: translateX(-100%)
}

/* 
To right */


.right-leave-from {
    transform: translateX(0%)
}

.right-leave-to {
    transform: translateX(100%)
}